<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>{{ site.description }}</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.url == "/" %} active{% endif %}" href="{{ site.baseurl }}/">Home</a>
    <a class="sidebar-nav-item{% if page.url == "/toc.html" %} active{% endif %}" href="{{ site.baseurl }}/toc.html">Table of Contents</a>

    {% for chapter in site.collections %}
    {% if chapter.label != 'posts' %}
    {% assign loc = page.url | split: "/" %}
    <div class="sidebar-nav-item chapter{% if loc[1] == chapter.label %} active active-chapter{% endif %}" onclick="toggleChapter(this);">{{ chapter.name }}
      <ul class="chapter-contents">
        {% for lesson in chapter.docs %}
        <li><a href="{{ lesson.url | prepend: site.baseurl }}">{{ lesson.title }}</a>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
    {% endfor %}
    
    <a class="sidebar-nav-item{% if page.url == "/about.html" %} active{% endif %}" href="{{ site.baseurl }}/about.html">About</a>
    <a class="sidebar-nav-item" href="{{ site.github-repo }}">GitHub project</a>
  </nav>

  <div class="sidebar-item">
    <p>
      <a href="https://creativecommons.org/licenses/by-sa/4.0/" target="_blank" >CC BY-SA</a> {{ site.published }}. 
    </p>
  </div>
</div>
