/* add chapter styles for sidebar */
.chapter {
    cursor: pointer;
}
.chapter-contents {
    display: none;
}
.active-chapter {
    .chapter-contents {
        display: block;
    }
}
/* fix theme background color bug */
.theme-base-0d .sidebar-toggle:active,
.theme-base-0d #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #555; 
}
/* index page link buttons */
.index-buttons li {
    list-style: none;
    display: inline-block;
    border: solid 1px #6a9fb5;
    border-radius: 5px;
    padding: 2px 5px;
    margin: 4px 2px 2px 2px;
}
/* chapter navigation */
#chapter-nav {
    color: #c0c0c0;
    font-size: 16px;
    text-align: right;
    line-height: 1.25;
    a { color: #c0c0c0;
    }

}
#chapter-toc {
    border: solid 1px #eee;
    border-radius: 5px;
    padding: 5px;
    font-size: 16px;
    .active { color: #515151; }
    li { list-style: none; }
}