/* add chapter styles for sidebar */
.chapter {
    cursor: pointer;
}
.chapter-contents {
    display: none;
}
.active-chapter {
    .chapter-contents {
        display: block;
    }
}
/* fix theme background color bug */
.theme-base-0d .sidebar-toggle:active,
.theme-base-0d #sidebar-checkbox:checked ~ .sidebar-toggle {
  background-color: #555; }
